.navbar-bg {
  background-color: #a900b2 !important;
}
.navbar-brand {
  display: flex;
  justify-content: space-between;
  width: 110px;
}
.font-white {
  color: #fff !important;
}

.search-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 9999; /*this will keep the icon appearing all time, even when on input::focus*/
}

.search-control {
  display: flex;
  align-items: baseline;
}

.dropdown-toggle::after {
  content: none !important;
}

.has-icon .form-control {
  padding-left: 2.375rem;
}

.has-icon .form-control-search {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.has-icon .form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* workflow */
.workflow-list-container {
  display: flex;
  align-items: flex-start;
}
.workflow-list-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* button circle */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/* icon postion */
.workflow-trash-icon {
  position: relative;
}
.workflow-trash-icon-position {
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 1;
}
.workflow-action {
  display: flex;
  justify-content: space-evenly;
}

.task-container {
  display: flex;
  align-items: flex-start;
}

.task-list-container {
  position: relative;
}

.task-list-status-icon {
  position: absolute;
  top: 0px;
  right: 12px;
  z-index: 1;
}

.task-list {
  width: 20rem;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.svg {
  margin-top: -4px !important;
  margin-right: 4px !important;
}
